.default-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .list-container{
    position: relative;
    overflow: auto;
    background-color: #eee;
    flex: 1;
    .list{
      color: #ccc;
      word-break: keep-all;
      top: 0;
      left: 0;
      position: absolute;
    }
  }
}

.active{
  color: #666;
}